# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Data and large artifacts
data/
models/
outputs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
.log

# Python packaging
dist/
build/
*.egg-info/
